@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Hind+Siliguri:wght@300&family=Hind+Vadodara:wght@600&family=Mate+SC&display=swap');

/* ---------------------- GLOBAL ---------------------- */




/* ///////////////////HEADER///////////////////////////// */

/* ///////////////////INDEXR///////////////////////////// */


/* //////////////////////// Seccion SobreMI////////////////////////////// */


/* --------------------------SECCION RESERVA---------------------------- */

/* -----------------------------SECCION TIENDA------------------------------- */

/* --------------------------Compra Guias-------------------- */


/* ----SECCIONES PLAN ALIMENTACION - ATENCION DOMICILIO - ATENCION ONLINE------ */
@media (max-width: 1579px){
    .productoInfoContenedor{
        margin-left: 10rem;
    }
}


/* RESPONSIVE DESING - MEDIA QUERY - 1109px */

@media (max-width: 1109px) {
    .cardContainer{
        display: flex;
        
        height: auto;
    }
    .reserva{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reserva form{
        padding: 30px;
        width: 25rem;
        display: inline-block;
        background-color: #E38C8C;
        border-radius: 20px;
    }
    
    .reserva form p{
        color: #ffffff;
        margin-bottom: 10px;
        text-align: center;
        font-size: 1.4rem;
    }

    .productoImg{
        height: 85%;
    }
    .productoMediaWrap{
        display: none;
    }
    .button{
        font-size: 15px;
    }
    .productoInfoContenedor{
        margin-left: 9rem;
    }
}

/* RESPONSIVE DESING - MEDIA QUERY - 850PX */

@media (max-width: 850px) {
    .checkbtn{
        display: block;
    }
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .menuIcon{
        display: block;
        justify-content: space-between;
        cursor: pointer;
    }
    .navMenu ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background: #E38C8C;
        width: 100vw;
        height: 100vh;
        right: 0;
    }
    .navMenu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .navMenu ul li:last-child {
        background: none;
        padding: 1rem;
    }
    #check:checked ~ ul{
        left: 0;
        transition: all 0.25s;
    }
    .wrap-texto h1{
        font-size: 4rem;
    }
    .about, .formacion{
        display: flex;
        flex-direction: column;
    }
    .about img, .formacion img{
        min-width: 40vw;
        margin-bottom: 2rem;
    }
    .imgAbout{
        width: 35vw;
        
    }
    .buy{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .buy img, .buy div{
        width: 80%;
    }
    .galeria{
        width: 38vw;   
    }
    .consultorio{
        width: 100vw;
    }
    .consultorio h2{
        width: 80vw;
    }
    .consultorio iframe{
        width: 100%;
    }
    .cuerpo{
        flex-direction: column;
    }
    .grandeImgWrap{
        display: none;
    }
    .productoInfoContenedor{
        width: 100%;
        margin-left: 2rem;
    }
    .footerContainer{
        padding: 2rem;
        flex-direction: column;
    }
    .footerContenido{
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid #2a2a2a;
        justify-content: center;
        align-items: center;
    }
    .footerContenido:nth-of-type(1){
        align-items: flex-start;
    }
    .footerContenido:nth-of-type(3){
        border-bottom: none;
        padding: 0;
    }
    .footerMenu{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #2a2a2a;
    }

    .footerMenu .footerContenido:nth-last-of-type(1){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
    .footerMenu .footerContenido:nth-last-of-type(2){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
}

/* RESPONSIVE DESIGN - MOBILE - 465PX */

@media (max-width: 465px) {
    h1{
        text-align: center;
    }
    main, .aboutDer p{
        width: 100vw;
    }
    .aboutDer{
        width: 100vw;
    }
    .aboutDer p{
        max-width: 70vw;
    }
    .reserva form{
        width: 100vw;
    }
    .galeria{
        width: 48vw;   
    }
    .galeria img{
        width: 100vw;
    }
}
