%estiloSubtitle {
    font-family: 'Mate SC', serif;
    background-color: $BackgroundBoton;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    font-weight: 600;
}