// Fuentes
$Hind: 'Hind Siliguri', sans-serif;
$HindV: 'Hind Vadodara', sans-serif;
$DancingS: 'Dancing Script', cursive;

// Colores
$ColorAC: #3498db;
$ColorLetraN: #111;
$ColorA: #111; 
$ColorLetraB: #fff;

//Bg
$BackgroundHeader: #FFD1DC;
$BackgroundFooter: #dca2af;
$BackgroundBoton: #E38C8C;
