*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: $Hind;
    box-sizing: border-box;
}

body{
    &::-webkit-scrollbar{
        width: 12px;
        background: #FFD1DC;
    }
    &::-webkit-scrollbar-thumb{
        background: #E38C8C;
    }
}